.score-button {
    @extend .btn; //inherit bootstrap
    @extend .btn-default; //inherit bootstrap
    &:hover, &:focus {
        text-decoration: none;
    }
}
.score-button-toolbar {
    @extend .btn-toolbar; //inherit bootstrap
    margin-left: 0;
    > div, > a { 
        float: left;
    }
}
.score-button-group {
    @extend .btn-group; //inherit bootstrap
}
.score-button-menu {
    @extend .btn-group; //inherit bootstrap
    .score-button-menu-item {

    }
    .score-menu-list-divider {

    }
}
.score-split-button-menu {
    @extend .btn-group; //inherit bootstrap
    > a {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    > button {
        margin-left: -5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .dropdown-menu {
        .score-button-menu-item {

        }
        .score-menu-list-divider {

        }
    }
}
.score-image-button {
    display: block;
}