header {
    @include vertical-space($vertical-spacing);
    nav {
        @media (max-width: $screen-xs-max) { //edge-to-edge UI for entire navigation on mobile
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .score-menu-list { //inside of megamenu dropdown
        padding-left: 0;
        li {
            list-style: none;
            line-height: 2em;
            a {
                display: block;
            }
        }
    }
    .score-megamenu {
        .navbar-brand {
            position: absolute; //to keep inline with .navbar-row(s)
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            padding: 0;
            @media (max-width: $screen-xs-max) {
                position: static;
            }
            img {
                width: 25px;
                height: auto;
            }
        }
        .score-hamburger, .score-hamburger:hover, .score-hamburger:focus {
            border: none;
            background: transparent;
            .icon-bar {
                background: white;
            }
        }
        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
            > li {
                @include clearfix;
                border-right: 1px solid $site-black;
                @media (max-width: $screen-xs-max) {
                    border-right: none;
                    border-bottom: 1px solid $site-light-gray;
                    &:last-child {
                        border: none;
                    }
                }
                > a {
                    color: white !important; //override bootstrap over-specificity
                    &:hover {
                        opacity: 1;
                    }
                    @media (max-width: $screen-xs-max) {
                        width: 100%;
                        font-size: 16px;
                    }
                }
                &:hover, &:focus {
                    > a {
                        color: white;
                        background: teal;
                    }
                }
                &.active, &.open, &:focus {
                    > a, > a.toggle-caret {
                        color: white;
                        background: teal !important; //override bootstrap over-specificity
                        &:hover {
                            color: white;
                            background: teal;
                        }
                    }
                }
                &.open {
                    .dropdown-menu {
                        margin-left: 0; //disable level-2 indentation
                        background: white;
                        border-radius: 0;
                    }
                }
                &.score-megamenu-dropdown {
                    > a {
                        &:first-child {
                            @media (max-width: $screen-xs-max) {
                                width: calc(100% - 40px);
                            }
                        }
                        &.toggle-caret {
                            @media (max-width: $screen-xs-max) {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu {
        > li.active {
            > a {
                background: teal;
                &:hover, &:focus {
                    color: white;
                    background: teal !important;
                }
            }
        }
    }
    > .score-stripe {
        padding-top: 0;
    }
    .alternate-stripe {
        .navbar-collapse {
            > div:first-child { //representing missing .score-column1 class f/ SCORE bug (SCORE-1270)
                text-align: center;
                @media (min-width: $screen-sm-min) { //for social icons to be inline with main navigation
                    position: absolute;
                    right: 0;
                    width: inherit;
                }
                .navbar-nav {
                    background: #444;
                    @media (min-width: $screen-sm-min) {
                        background: inherit;
                    }
                }
                .score-menu-list-image {
                    display: inline-block;
                    margin-right: 20px;
                    padding: 8px 0 0 0;
                    &:last-child {
                        margin-right: 0;
                    }
                    @media (min-width: $screen-sm-min) {
                        margin-right: 15px;
                        padding: 15px 0 0 0;
                    }
                    a {
                        padding-top: 0;
                    }
                    img {
                        width: 22px;
                        height: auto;
                    }
                }
            }
            > div:last-child { //representing missing .score-column1 class f/ SCORE bug (SCORE-1270)
                @media (min-width: $screen-sm-min) {
                    float: left;
                }
            }
        }
    }
    .navbar-collapse {
        @media (min-width: $screen-sm-min) {
            padding-left: 65px; //to offset navbar-brand absolute positioning
        }
        > div { //representing missing .score-column1 class f/ SCORE bug (SCORE-1270)
            @media (min-width: $screen-sm-min) {
                width: 100%;
            }
            .score-center {
                position: static !important;  //for megamenu content to reach edge of header container on desktop
            }
        }

        //delete this block when SCORE bug (SCORE-1270) is fixed for missing .score-column1 class w/ nav row
        > div {
            @include make-row();
            .score-center {
                @include make-md-column($grid-columns);
            }
        }
    }
}