.score-hero {
    @extend .jumbotron; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    background: inherit;
    .score-hero-image {
        img {

        }
    }
    h1 {

    }
    h2 {

    }
	.score-hero-body {

    }
    .score-call-to-action {

    }
}
.score-full-width-hero {
    @extend .jumbotron; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    text-align: center;
    background: inherit;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    @media (min-width: $screen-sm-min) {
        padding-top: 33px;
        padding-bottom: 33px;
    }
    .score-hero-image {
        img {
            max-width: 180px;
            @media (max-width: $screen-xs-max) {
                width: 40%;
            }
        }
    }
    h1 {
        font-size: 30px;
        @media (min-width: $screen-sm-min) {
            font-size: 50px;
        }
    }
    h2 {
        font-size: 18px;
        @media (min-width: $screen-sm-min) {
            font-size: 26px;
        }
    }
    .score-hero-body {

    }
    .score-call-to-action {

    }
    &.teal-header {
        h1 {
            color: teal;
        }
    }
}
header {
    + .page-wrapper {
        .score-full-width-hero:first-child {
            margin-top: -$vertical-spacing; //offset header margin
        }
    }
}
.score-section-hero {
    @extend .jumbotron; //inherit bootstrap
    @include vertical-space($vertical-spacing);
    text-align: center;
    background: inherit;
    padding-top: 0;
    .score-hero-image {
        img {
            width: 50%;
        }
    }
    h2 {
        font-size: 36px;
        margin-top: 0;
    }
    h3 {
        font-size: 30px;
    }
    .score-hero-body {

    }
    .score-call-to-action {

    }
}
.carousel {
    .score-section-hero {
        @include vertical-space(0);
        display: inline-block;
        @include carousel-height; //matches carousel height
    }
}