.score-button {
    @extend .btn; //inherit bootstrap
    @extend .btn-default; //inherit bootstrap
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    &:hover, &:focus {
        text-decoration: none;
    }
    &.btn-sm {
        font-size: 12px;
    }
    &.btn-lg {
        font-size: 18px;
    }
    &.btn-primary {
        background: teal;
        color: white;
        border: 1px solid white;
        border-radius: 0;
    }
}
.score-button-toolbar {
    @extend .btn-toolbar; //inherit bootstrap
    margin-left: 0;
}
.score-button-group {
    @extend .btn-group; //inherit bootstrap
}
.score-button-menu {
    @extend .btn-group; //inherit bootstrap
    .score-button-menu-item {

    }
    .score-menu-list-divider {

    }
}
.score-split-button-menu {
    @extend .btn-group; //inherit bootstrap
    .dropdown-toggle {
        @extend .btn; //inherit bootstrap
        @extend .btn-default; //inherit bootstrap
    }
    .dropdown-menu {
        .score-button-menu-item {

        }
        .score-menu-list-divider {

        }
    }
}
.score-image-button {
    display: block;
}
.score-center-text {
    > .score-button {
        @include vertical-space($vertical-spacing); //for WATCH VIDEO button at the bottom of country detail page
    }
}