//Global custom variables

//default margin on content components
$vertical-spacing: 30px;
$button-color: #ff0000;

//Global custom mixins
@mixin vertical-space($margin) {
	margin-bottom: $margin;
}
@mixin animation-transition {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
@mixin scale-transition($size) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	transform: scale($size);
}